**/.DS_Store
**/.env*
**/.expo
**/.next
**/.pnp
**/.pnp.js
**/*.jks
**/*.key
**/*.mobileprovision
**/*.orig.*
**/*.p12
**/*.p8
**/build
**/node_modules
**/npm-debug.*
**/out
**/web-build
**/web-report
**/yarn-debug.log*
**/yarn-error.log*
